
.permission-label{
    margin: -18px 0;
    text-transform: capitalize;
}

.list-show, .add-show{
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    padding: 0 3px;
}

.add-label, .list-label{
    color: #000000;
}

.permission-label a:hover{
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    padding: 0 3px;
}

.required-color{
    color:red;
}

.message-error{
    font-size: 12px;
    color: red;
    margin: -12px 0px;
}

.message-success{
    padding: 2px;border-radius: 0;margin: -20px 0px;
}

.select-option{
    height: 40px;
}

.menu-bg{
    background-color: #27367fd1;
}

.menu-text{
    color: #ffffff;
    font-weight: bold;
}

.select-permission{
    margin: 0px 26px 14px 24px;
    background: #000000;
    color: #ffffff;
    padding: 6px 22px;
}

.vl{
    border-left: 2px solid #E3EBED;
    height: 100%;
    position: absolute;
    left: 34px;
    top: 32px;
}

.alert.style_alert {
    padding: 4px;
    width: 39%;
    font-weight: 700;
    margin: -27px 0;
    font-size: 14px;
    float: right;
    line-height: 23px;
    color: red;
}

.text_nowrap {
    white-space: nowrap;
}

.chMenu {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

/*For form create user role*/
.chMenu input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 11px;
    left: 0;
    /*height: 25px;*/
    /*width: 25px;*/
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.chMenu:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chMenu input:checked ~ .checkmark {
    background-color: #4E5B96;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chMenu input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chMenu .checkmark:after {
    /*left: 9px;*/
    /*top: 5px;*/
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* New on 10-July-2019 */

/* Clearable text inputs */
/*.clearable{*/
/*    background: #fff url(../images/cross.gif) no-repeat right -10px center;*/
/*    transition: background 0.4s;*/
/*}*/
/*.clearable.x  { background-position: right 12px center; } !* (jQ) Show icon *!*/
/*.clearable.onX{ cursor: pointer; }              !* (jQ) hover cursor style *!*/
/*.clearable::-ms-clear {display: none; width:0; height:0;} !* Remove IE default X *!*/

.clearable-input {
    position: relative;
    display: inline-block;
}
.clearable-input > input {
    padding-right: 1.4em;
}
.clearable-input:hover > [data-clear-input] {
    display: block;
}
.clearable-input > [data-clear-input] {
    display: none;
    position: absolute;
    top: 13px;
    right: 17px;
    padding: 0.02cm 0.11cm;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: lightgray;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    line-height: 16px;
    font-weight: bold;
}
.clearable-input > input::-ms-clear {
    display: none;
}